/**
 * Convierte unidades de pixeles a unidades vh|vw
 * @param  {int} $pixels
 * @param  {bool} $to:    false    Si es true convertira a vh
 * @return {float}                 Unidad en vh|vw
 */
/* =============================================================== */
/* FUNCTIONS TO CALCULATE VW/VH */
/* _______________________________________________________________ */
/* _______________________________________________________________ */
@font-face {
  font-family: Montserrat-Black;
  src: url("../fonts/Montserrat-Black.otf"); }

@font-face {
  font-family: Montserrat-BlackItalic;
  src: url("../fonts/Montserrat-BlackItalic.otf"); }

@font-face {
  font-family: Montserrat-Bold;
  src: url("../fonts/Montserrat-Bold.otf"); }

@font-face {
  font-family: Montserrat-BoldItalic;
  src: url("../fonts/Montserrat-BoldItalic.otf"); }

@font-face {
  font-family: Montserrat-ExtraBold;
  src: url("../fonts/Montserrat-ExtraBold.otf"); }

@font-face {
  font-family: Montserrat-ExtraBoldItalic;
  src: url("../fonts/Montserrat-ExtraBoldItalic.otf"); }

@font-face {
  font-family: Montserrat-ExtraLight;
  src: url("../fonts/Montserrat-ExtraLight.otf"); }

@font-face {
  font-family: Montserrat-ExtraLightItalic;
  src: url("../fonts/Montserrat-ExtraLightItalic.otf"); }

@font-face {
  font-family: Montserrat-Italic;
  src: url("../fonts/Montserrat-Italic.otf"); }

@font-face {
  font-family: Montserrat-Light;
  src: url("../fonts/Montserrat-Light.otf"); }

@font-face {
  font-family: Montserrat-LightItalic;
  src: url("../fonts/Montserrat-LightItalic.otf"); }

@font-face {
  font-family: Montserrat-Medium;
  src: url("../fonts/Montserrat-Medium.otf"); }

@font-face {
  font-family: Montserrat-MediumItalic;
  src: url("../fonts/Montserrat-MediumItalic.otf"); }

@font-face {
  font-family: Montserrat-Regular;
  src: url("../fonts/Montserrat-Regular.otf"); }

@font-face {
  font-family: Montserrat-SemiBold;
  src: url("../fonts/Montserrat-SemiBold.otf"); }

@font-face {
  font-family: Montserrat-SemiBoldItalic;
  src: url("../fonts/Montserrat-SemiBoldItalic.otf"); }

@font-face {
  font-family: Montserrat-Thin;
  src: url("../fonts/Montserrat-Thin.otf"); }

@font-face {
  font-family: Montserrat-ThinItalic;
  src: url("../fonts/Montserrat-ThinItalic.otf"); }

@font-face {
  font-family: MuseoSans-100;
  src: url("../fonts/MuseoSans-100.otf"); }

@font-face {
  font-family: MuseoSans-300;
  src: url("../fonts/MuseoSans-300.otf"); }

@font-face {
  font-family: MuseoSans-500;
  src: url("../fonts/MuseoSans-500.otf"); }

@font-face {
  font-family: MuseoSans-700;
  src: url("../fonts/MuseoSans-700.otf"); }

.font-11 {
  font-size: 0.57vw; }

.font-proportion[data-proportion='110'] .font-11 {
  font-size: 0.627vw; }

.font-proportion[data-proportion='120'] .font-11 {
  font-size: 0.684vw; }

.font-proportion[data-proportion='130'] .font-11 {
  font-size: 0.741vw; }

.font-proportion[data-proportion='140'] .font-11 {
  font-size: 0.798vw; }

.font-proportion[data-proportion='150'] .font-11 {
  font-size: 0.855vw; }

.font-proportion[data-proportion='160'] .font-11 {
  font-size: 0.912vw; }

.font-14 {
  font-size: 0.73vw; }

.font-proportion[data-proportion='110'] .font-14 {
  font-size: 0.803vw; }

.font-proportion[data-proportion='120'] .font-14 {
  font-size: 0.876vw; }

.font-proportion[data-proportion='130'] .font-14 {
  font-size: 0.949vw; }

.font-proportion[data-proportion='140'] .font-14 {
  font-size: 1.022vw; }

.font-proportion[data-proportion='150'] .font-14 {
  font-size: 1.095vw; }

.font-proportion[data-proportion='160'] .font-14 {
  font-size: 1.168vw; }

.font-16 {
  font-size: 0.83vw; }

.font-proportion[data-proportion='110'] .font-16 {
  font-size: 0.913vw; }

.font-proportion[data-proportion='120'] .font-16 {
  font-size: 0.996vw; }

.font-proportion[data-proportion='130'] .font-16 {
  font-size: 1.079vw; }

.font-proportion[data-proportion='140'] .font-16 {
  font-size: 1.162vw; }

.font-proportion[data-proportion='150'] .font-16 {
  font-size: 1.245vw; }

.font-proportion[data-proportion='160'] .font-16 {
  font-size: 1.328vw; }

.font-18 {
  font-size: 0.94vw; }

.font-proportion[data-proportion='110'] .font-18 {
  font-size: 1.034vw; }

.font-proportion[data-proportion='120'] .font-18 {
  font-size: 1.128vw; }

.font-proportion[data-proportion='130'] .font-18 {
  font-size: 1.222vw; }

.font-proportion[data-proportion='140'] .font-18 {
  font-size: 1.316vw; }

.font-proportion[data-proportion='150'] .font-18 {
  font-size: 1.41vw; }

.font-proportion[data-proportion='160'] .font-18 {
  font-size: 1.504vw; }

.font-20 {
  font-size: 1.04vw; }

.font-proportion[data-proportion='110'] .font-20 {
  font-size: 1.144vw; }

.font-proportion[data-proportion='120'] .font-20 {
  font-size: 1.248vw; }

.font-proportion[data-proportion='130'] .font-20 {
  font-size: 1.352vw; }

.font-proportion[data-proportion='140'] .font-20 {
  font-size: 1.456vw; }

.font-proportion[data-proportion='150'] .font-20 {
  font-size: 1.56vw; }

.font-proportion[data-proportion='160'] .font-20 {
  font-size: 1.664vw; }

.font-22 {
  font-size: 1.15vw; }

.font-proportion[data-proportion='110'] .font-22 {
  font-size: 1.265vw; }

.font-proportion[data-proportion='120'] .font-22 {
  font-size: 1.38vw; }

.font-proportion[data-proportion='130'] .font-22 {
  font-size: 1.495vw; }

.font-proportion[data-proportion='140'] .font-22 {
  font-size: 1.61vw; }

.font-proportion[data-proportion='150'] .font-22 {
  font-size: 1.725vw; }

.font-proportion[data-proportion='160'] .font-22 {
  font-size: 1.84vw; }

.font-24 {
  font-size: 1.25vw; }

.font-proportion[data-proportion='110'] .font-24 {
  font-size: 1.375vw; }

.font-proportion[data-proportion='120'] .font-24 {
  font-size: 1.5vw; }

.font-proportion[data-proportion='130'] .font-24 {
  font-size: 1.625vw; }

.font-proportion[data-proportion='140'] .font-24 {
  font-size: 1.75vw; }

.font-proportion[data-proportion='150'] .font-24 {
  font-size: 1.875vw; }

.font-proportion[data-proportion='160'] .font-24 {
  font-size: 2vw; }

.font-26 {
  font-size: 1.35vw; }

.font-proportion[data-proportion='110'] .font-26 {
  font-size: 1.485vw; }

.font-proportion[data-proportion='120'] .font-26 {
  font-size: 1.62vw; }

.font-proportion[data-proportion='130'] .font-26 {
  font-size: 1.755vw; }

.font-proportion[data-proportion='140'] .font-26 {
  font-size: 1.89vw; }

.font-proportion[data-proportion='150'] .font-26 {
  font-size: 2.025vw; }

.font-proportion[data-proportion='160'] .font-26 {
  font-size: 2.16vw; }

.font-27 {
  font-size: 1.41vw; }

.font-proportion[data-proportion='110'] .font-27 {
  font-size: 1.551vw; }

.font-proportion[data-proportion='120'] .font-27 {
  font-size: 1.692vw; }

.font-proportion[data-proportion='130'] .font-27 {
  font-size: 1.833vw; }

.font-proportion[data-proportion='140'] .font-27 {
  font-size: 1.974vw; }

.font-proportion[data-proportion='150'] .font-27 {
  font-size: 2.115vw; }

.font-proportion[data-proportion='160'] .font-27 {
  font-size: 2.256vw; }

.font-28 {
  font-size: 1.46vw; }

.font-proportion[data-proportion='110'] .font-28 {
  font-size: 1.606vw; }

.font-proportion[data-proportion='120'] .font-28 {
  font-size: 1.752vw; }

.font-proportion[data-proportion='130'] .font-28 {
  font-size: 1.898vw; }

.font-proportion[data-proportion='140'] .font-28 {
  font-size: 2.044vw; }

.font-proportion[data-proportion='150'] .font-28 {
  font-size: 2.19vw; }

.font-proportion[data-proportion='160'] .font-28 {
  font-size: 2.336vw; }

.font-29 {
  font-size: 1.51vw; }

.font-proportion[data-proportion='110'] .font-29 {
  font-size: 1.661vw; }

.font-proportion[data-proportion='120'] .font-29 {
  font-size: 1.812vw; }

.font-proportion[data-proportion='130'] .font-29 {
  font-size: 1.963vw; }

.font-proportion[data-proportion='140'] .font-29 {
  font-size: 2.114vw; }

.font-proportion[data-proportion='150'] .font-29 {
  font-size: 2.265vw; }

.font-proportion[data-proportion='160'] .font-29 {
  font-size: 2.416vw; }

.font-30 {
  font-size: 1.56vw; }

.font-proportion[data-proportion='110'] .font-30 {
  font-size: 1.716vw; }

.font-proportion[data-proportion='120'] .font-30 {
  font-size: 1.872vw; }

.font-proportion[data-proportion='130'] .font-30 {
  font-size: 2.028vw; }

.font-proportion[data-proportion='140'] .font-30 {
  font-size: 2.184vw; }

.font-proportion[data-proportion='150'] .font-30 {
  font-size: 2.34vw; }

.font-proportion[data-proportion='160'] .font-30 {
  font-size: 2.496vw; }

.font-31 {
  font-size: 1.61vw; }

.font-proportion[data-proportion='110'] .font-31 {
  font-size: 1.771vw; }

.font-proportion[data-proportion='120'] .font-31 {
  font-size: 1.932vw; }

.font-proportion[data-proportion='130'] .font-31 {
  font-size: 2.093vw; }

.font-proportion[data-proportion='140'] .font-31 {
  font-size: 2.254vw; }

.font-proportion[data-proportion='150'] .font-31 {
  font-size: 2.415vw; }

.font-proportion[data-proportion='160'] .font-31 {
  font-size: 2.576vw; }

.font-32 {
  font-size: 1.67vw; }

.font-proportion[data-proportion='110'] .font-32 {
  font-size: 1.837vw; }

.font-proportion[data-proportion='120'] .font-32 {
  font-size: 2.004vw; }

.font-proportion[data-proportion='130'] .font-32 {
  font-size: 2.171vw; }

.font-proportion[data-proportion='140'] .font-32 {
  font-size: 2.338vw; }

.font-proportion[data-proportion='150'] .font-32 {
  font-size: 2.505vw; }

.font-proportion[data-proportion='160'] .font-32 {
  font-size: 2.672vw; }

.font-33 {
  font-size: 1.72vw; }

.font-proportion[data-proportion='110'] .font-33 {
  font-size: 1.892vw; }

.font-proportion[data-proportion='120'] .font-33 {
  font-size: 2.064vw; }

.font-proportion[data-proportion='130'] .font-33 {
  font-size: 2.236vw; }

.font-proportion[data-proportion='140'] .font-33 {
  font-size: 2.408vw; }

.font-proportion[data-proportion='150'] .font-33 {
  font-size: 2.58vw; }

.font-proportion[data-proportion='160'] .font-33 {
  font-size: 2.752vw; }

.font-34 {
  font-size: 1.77vw; }

.font-proportion[data-proportion='110'] .font-34 {
  font-size: 1.947vw; }

.font-proportion[data-proportion='120'] .font-34 {
  font-size: 2.124vw; }

.font-proportion[data-proportion='130'] .font-34 {
  font-size: 2.301vw; }

.font-proportion[data-proportion='140'] .font-34 {
  font-size: 2.478vw; }

.font-proportion[data-proportion='150'] .font-34 {
  font-size: 2.655vw; }

.font-proportion[data-proportion='160'] .font-34 {
  font-size: 2.832vw; }

.font-36 {
  font-size: 1.88vw; }

.font-proportion[data-proportion='110'] .font-36 {
  font-size: 2.068vw; }

.font-proportion[data-proportion='120'] .font-36 {
  font-size: 2.256vw; }

.font-proportion[data-proportion='130'] .font-36 {
  font-size: 2.444vw; }

.font-proportion[data-proportion='140'] .font-36 {
  font-size: 2.632vw; }

.font-proportion[data-proportion='150'] .font-36 {
  font-size: 2.82vw; }

.font-proportion[data-proportion='160'] .font-36 {
  font-size: 3.008vw; }

.font-37 {
  font-size: 1.93vw; }

.font-proportion[data-proportion='110'] .font-37 {
  font-size: 2.123vw; }

.font-proportion[data-proportion='120'] .font-37 {
  font-size: 2.316vw; }

.font-proportion[data-proportion='130'] .font-37 {
  font-size: 2.509vw; }

.font-proportion[data-proportion='140'] .font-37 {
  font-size: 2.702vw; }

.font-proportion[data-proportion='150'] .font-37 {
  font-size: 2.895vw; }

.font-proportion[data-proportion='160'] .font-37 {
  font-size: 3.088vw; }

.font-38 {
  font-size: 1.98vw; }

.font-proportion[data-proportion='110'] .font-38 {
  font-size: 2.178vw; }

.font-proportion[data-proportion='120'] .font-38 {
  font-size: 2.376vw; }

.font-proportion[data-proportion='130'] .font-38 {
  font-size: 2.574vw; }

.font-proportion[data-proportion='140'] .font-38 {
  font-size: 2.772vw; }

.font-proportion[data-proportion='150'] .font-38 {
  font-size: 2.97vw; }

.font-proportion[data-proportion='160'] .font-38 {
  font-size: 3.168vw; }

.font-39 {
  font-size: 2.03vw; }

.font-proportion[data-proportion='110'] .font-39 {
  font-size: 2.233vw; }

.font-proportion[data-proportion='120'] .font-39 {
  font-size: 2.436vw; }

.font-proportion[data-proportion='130'] .font-39 {
  font-size: 2.639vw; }

.font-proportion[data-proportion='140'] .font-39 {
  font-size: 2.842vw; }

.font-proportion[data-proportion='150'] .font-39 {
  font-size: 3.045vw; }

.font-proportion[data-proportion='160'] .font-39 {
  font-size: 3.248vw; }

.font-40 {
  font-size: 2.08vw; }

.font-proportion[data-proportion='110'] .font-40 {
  font-size: 2.288vw; }

.font-proportion[data-proportion='120'] .font-40 {
  font-size: 2.496vw; }

.font-proportion[data-proportion='130'] .font-40 {
  font-size: 2.704vw; }

.font-proportion[data-proportion='140'] .font-40 {
  font-size: 2.912vw; }

.font-proportion[data-proportion='150'] .font-40 {
  font-size: 3.12vw; }

.font-proportion[data-proportion='160'] .font-40 {
  font-size: 3.328vw; }

.font-42 {
  font-size: 2.19vw; }

.font-proportion[data-proportion='110'] .font-42 {
  font-size: 2.409vw; }

.font-proportion[data-proportion='120'] .font-42 {
  font-size: 2.628vw; }

.font-proportion[data-proportion='130'] .font-42 {
  font-size: 2.847vw; }

.font-proportion[data-proportion='140'] .font-42 {
  font-size: 3.066vw; }

.font-proportion[data-proportion='150'] .font-42 {
  font-size: 3.285vw; }

.font-proportion[data-proportion='160'] .font-42 {
  font-size: 3.504vw; }

.font-44 {
  font-size: 2.29vw; }

.font-proportion[data-proportion='110'] .font-44 {
  font-size: 2.519vw; }

.font-proportion[data-proportion='120'] .font-44 {
  font-size: 2.748vw; }

.font-proportion[data-proportion='130'] .font-44 {
  font-size: 2.977vw; }

.font-proportion[data-proportion='140'] .font-44 {
  font-size: 3.206vw; }

.font-proportion[data-proportion='150'] .font-44 {
  font-size: 3.435vw; }

.font-proportion[data-proportion='160'] .font-44 {
  font-size: 3.664vw; }

.font-48 {
  font-size: 2.5vw; }

.font-proportion[data-proportion='110'] .font-48 {
  font-size: 2.75vw; }

.font-proportion[data-proportion='120'] .font-48 {
  font-size: 3vw; }

.font-proportion[data-proportion='130'] .font-48 {
  font-size: 3.25vw; }

.font-proportion[data-proportion='140'] .font-48 {
  font-size: 3.5vw; }

.font-proportion[data-proportion='150'] .font-48 {
  font-size: 3.75vw; }

.font-proportion[data-proportion='160'] .font-48 {
  font-size: 4vw; }

.font-50 {
  font-size: 2.6vw; }

.font-proportion[data-proportion='110'] .font-50 {
  font-size: 2.86vw; }

.font-proportion[data-proportion='120'] .font-50 {
  font-size: 3.12vw; }

.font-proportion[data-proportion='130'] .font-50 {
  font-size: 3.38vw; }

.font-proportion[data-proportion='140'] .font-50 {
  font-size: 3.64vw; }

.font-proportion[data-proportion='150'] .font-50 {
  font-size: 3.9vw; }

.font-proportion[data-proportion='160'] .font-50 {
  font-size: 4.16vw; }

.font-52 {
  font-size: 2.71vw; }

.font-proportion[data-proportion='110'] .font-52 {
  font-size: 2.981vw; }

.font-proportion[data-proportion='120'] .font-52 {
  font-size: 3.252vw; }

.font-proportion[data-proportion='130'] .font-52 {
  font-size: 3.523vw; }

.font-proportion[data-proportion='140'] .font-52 {
  font-size: 3.794vw; }

.font-proportion[data-proportion='150'] .font-52 {
  font-size: 4.065vw; }

.font-proportion[data-proportion='160'] .font-52 {
  font-size: 4.336vw; }

.font-56 {
  font-size: 2.92vw; }

.font-proportion[data-proportion='110'] .font-56 {
  font-size: 3.212vw; }

.font-proportion[data-proportion='120'] .font-56 {
  font-size: 3.504vw; }

.font-proportion[data-proportion='130'] .font-56 {
  font-size: 3.796vw; }

.font-proportion[data-proportion='140'] .font-56 {
  font-size: 4.088vw; }

.font-proportion[data-proportion='150'] .font-56 {
  font-size: 4.38vw; }

.font-proportion[data-proportion='160'] .font-56 {
  font-size: 4.672vw; }

.font-58 {
  font-size: 3.02vw; }

.font-proportion[data-proportion='110'] .font-58 {
  font-size: 3.322vw; }

.font-proportion[data-proportion='120'] .font-58 {
  font-size: 3.624vw; }

.font-proportion[data-proportion='130'] .font-58 {
  font-size: 3.926vw; }

.font-proportion[data-proportion='140'] .font-58 {
  font-size: 4.228vw; }

.font-proportion[data-proportion='150'] .font-58 {
  font-size: 4.53vw; }

.font-proportion[data-proportion='160'] .font-58 {
  font-size: 4.832vw; }

.font-60 {
  font-size: 3.13vw; }

.font-proportion[data-proportion='110'] .font-60 {
  font-size: 3.443vw; }

.font-proportion[data-proportion='120'] .font-60 {
  font-size: 3.756vw; }

.font-proportion[data-proportion='130'] .font-60 {
  font-size: 4.069vw; }

.font-proportion[data-proportion='140'] .font-60 {
  font-size: 4.382vw; }

.font-proportion[data-proportion='150'] .font-60 {
  font-size: 4.695vw; }

.font-proportion[data-proportion='160'] .font-60 {
  font-size: 5.008vw; }

.font-64 {
  font-size: 3.33vw; }

.font-proportion[data-proportion='110'] .font-64 {
  font-size: 3.663vw; }

.font-proportion[data-proportion='120'] .font-64 {
  font-size: 3.996vw; }

.font-proportion[data-proportion='130'] .font-64 {
  font-size: 4.329vw; }

.font-proportion[data-proportion='140'] .font-64 {
  font-size: 4.662vw; }

.font-proportion[data-proportion='150'] .font-64 {
  font-size: 4.995vw; }

.font-proportion[data-proportion='160'] .font-64 {
  font-size: 5.328vw; }

.font-65 {
  font-size: 3.39vw; }

.font-proportion[data-proportion='110'] .font-65 {
  font-size: 3.729vw; }

.font-proportion[data-proportion='120'] .font-65 {
  font-size: 4.068vw; }

.font-proportion[data-proportion='130'] .font-65 {
  font-size: 4.407vw; }

.font-proportion[data-proportion='140'] .font-65 {
  font-size: 4.746vw; }

.font-proportion[data-proportion='150'] .font-65 {
  font-size: 5.085vw; }

.font-proportion[data-proportion='160'] .font-65 {
  font-size: 5.424vw; }

.font-72 {
  font-size: 3.75vw; }

.font-proportion[data-proportion='110'] .font-72 {
  font-size: 4.125vw; }

.font-proportion[data-proportion='120'] .font-72 {
  font-size: 4.5vw; }

.font-proportion[data-proportion='130'] .font-72 {
  font-size: 4.875vw; }

.font-proportion[data-proportion='140'] .font-72 {
  font-size: 5.25vw; }

.font-proportion[data-proportion='150'] .font-72 {
  font-size: 5.625vw; }

.font-proportion[data-proportion='160'] .font-72 {
  font-size: 6vw; }

.font-90 {
  font-size: 4.69vw; }

.font-proportion[data-proportion='110'] .font-90 {
  font-size: 5.159vw; }

.font-proportion[data-proportion='120'] .font-90 {
  font-size: 5.628vw; }

.font-proportion[data-proportion='130'] .font-90 {
  font-size: 6.097vw; }

.font-proportion[data-proportion='140'] .font-90 {
  font-size: 6.566vw; }

.font-proportion[data-proportion='150'] .font-90 {
  font-size: 7.035vw; }

.font-proportion[data-proportion='160'] .font-90 {
  font-size: 7.504vw; }

/*# sourceMappingURL=fonts.css.map */
